@import "tailwindcss";
@plugin '../hero.ts';

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:where(.dark, .dark *));

:root {
    background-color: white;
}

.dark {
    --heroui-default: 222 25% 22%;
    --heroui-secondary: 222 28% 10%;
    background-color: #11151e;
    color: white;
}

p,
h1,
h2 {
    cursor: default;
    user-select: none;
}

@layer utilities {

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }
}

html {
    scroll-behavior: smooth;
}